@import "./BaseBwcStyling.scss";

.bwc-toast-wrapper .bwc-toast-success {
  margin: 0;
}

.bwc-toast-wrapper .bwc-toast-error {
  margin: 0;
}

.bwc-toast-wrapper .bwc-toast-informational {
  margin: 0;
}

.bwc-toast-wrapper .link a:link {
  color: #008be1;
}

.bwc-toast-wrapper {
  width: 100%;
}
